/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/vcs.xml
branches/
hooks/
logs/
objects/info/
objects/pack/pack-681f5933c085aea2e2ab20cd19fd75a68297c8dd.idx
objects/pack/pack-681f5933c085aea2e2ab20cd19fd75a68297c8dd.pack
refs/tags/
